/*********************************************
 *                 style.css                 *
 *             Main stylesheet               *
 *            0xrserota.github.io            *
 *                                           *
 *           © 2018 Ravi B. Serota           *
 *                                           *
 *********************************************/                         


html {
 font-family:sans-serif;
 -ms-text-size-adjust:100%;
 -webkit-text-size-adjust:100%
}

body {
  background-color: #BABABA;
  margin:  auto;
}

#toplogo {
  font-family: 'Oswald', sans-serif;
  font-size: 36pt;
  font-weight: bold;
  position: relative;
  padding: 25px 5px;
}

.topnav {
  background-color: #222;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Rubik', sans-serif;
}

.topnav a:hover {
  background-color #ddd;
  color: black;
}

a {
}

h1 {
  font-family: "Roboto"
  font-size: 3.0em;
  font-weight: bold;
}

h2 {
  font-family: "Rubik";
  font-size: 2.0em;
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
  font-family: 'Open Sans';
  font-weight: bold;
}

p {
  font-family: "Open Sans";
  font-size: 1.0em;
}

ol {
        list-style-type: none;
        padding: 0;margin: 0;
      }

ol li {
  display: inline-block;
  margin: 4px;
}

#welcome {
  margin: .75em .75em .75em .85em;
  padding: ;
  text-align: center;
  font-size: 6.25em;
  font-family: "Open Sans";
  font-kerning: 5px;
  color: black;
}

.global-wrapper {
  min-height: -webkit-calc(100% - 100px); /* Chrome */
  min-height: -moz-calc(100% - 100px); /* Firefox */
  min-height: calc(100% - 100px); /* native */
  min-height: auto !important;
  margin-bottom: 0;
}

#copyright {
  width: 100%;
  color: #000000;
  line-height: 0.2em;
  padding: 5px 5px;
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  height: inherit;
  position: relative;
}

footer {
  text-align: center;
  width: 100%;
  padding: 15px 0px 15px 0px;
  background-color: #656565;
  margin: 0 auto -142px;
}

.footer, .push {
  height:142px;
}